
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="Edit">Answer a colorquestion quiz</a>
<p>
    @{
        // Skriver endast ut detta om viewbag är satt i Index actionen efter man svara på alla frågor i en kategori
        if (ViewBag.CorrectAnswers != null)
        {
            @Html.Raw("Gratulerar, du har besvarat alla frågor i kategorin.<br>")
            @Html.Raw("Antal rätt: ")
            @ViewBag.CorrectAnswers

        }
    }
</p>